 @font-face {
    font-family: "Lora";
    src: url(<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">) format("truetype");
}
p.customfont {
    font-family: ¨Lora¨;
    font-weight: 600px ;
}
li.customfont {
    font-family: ¨Lora¨;
    font-weight: 125px ;
}
h1.customfont {
    font family: ¨Lora¨;
    font-weight: 200px ;
}
h2.customfont {
    font family: ¨Lora¨;
    font-weight: 200px ;
}
h3.customfont {
    font family: ¨Lora¨;
    font-weight: 200px ;
}

:root {
    --blue: #6495ed;
    --green: #faf0e6;
    --red: #fa64;
  }


 h1 { background-color: var(--blue);
     color: green;
}

 h2 { background-color: var(--blue);
      color: green;
}

 h3 { background-color: var(--blue);
      color: green;
}

 p { background-color: var(--green);
     color: red;
}

 li { background-color: var(--red);
      color: blue;
}







