 @font-face {
    font-family: "Lora";
    src: url(<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">) format("truetype");
}
p.customfont {
    font-family: ¨Lora¨;
}
li.customfont {
    font-family: ¨Lora¨;
}
h1.customfont {
    font family: ¨Lora¨;
}
h2.customfont {
    font family: ¨Lora¨;
}
h3.customfont {
    font family: ¨Lora¨;
}

:root {
    --blue: #6495ed;
    --white: #faf0e6;
  }

  body { background-color: var(--blue); }

  h2 { border-bottom: 2px solid var(--blue); }



